 body {
     min-height: 100vh;
     overflow: hidden;
 }

 .container {
     height: 600px;
     width: 800px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     backdrop-filter: blur(10px);
     border-radius: 15px;
     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
     overflow-y: scroll;
     overflow-x: hidden;
 }

 .todo {
     font-size: 50px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     display: inline-block;
     padding-top: 15px;
     padding-left: 15px;
     color: #171717;

 }

 .stick {
     position: sticky;
     top: 0;
     background-color: white;
     opacity: 1;
     padding-bottom: 20px;
     backdrop-filter: blur(10px);
     z-index: 1;
 }

 .line {

     width: 780px;
     height: 3px;
     background-color: #171717;
     display: inline-block;
     margin-left: 10px;
     margin-bottom: 10px;
     border-radius: 2px;

 }

 .input {
     height: 50px;
     width: 350px;
     margin-left: 15px;

 }

 .input-task {
     height: 40px;
     width: 340px;
     border-radius: 20px;
     border: none;
     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
     padding-left: 15px;
     font-size: 20px;

 }

 .select-priority {
     position: absolute;
     left: 400px;
     top: 105px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 .add {
     height: 40px;
     width: 80px;
     border-radius: 19px;
     border: none;
     cursor: pointer;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     position: absolute;
     left: 640px;
     top: 95px;
 }

 .task-icon {
     margin-top: 10px;
     margin-left: 9px;
     font-size: 16px;
     display: flex;
 }

 .task-text {
     margin-top: 8px;
     margin-left: 7px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 .tasks {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     gap: 0px;
 }

 .task {
     height: 115px;
     width: 210px;
     background-color: white;
     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
     opacity: 0.85;
     margin-top: 35px;
     margin-left: 30px;
     border-radius: 20px;
     padding-left: 10px;
     padding-top: 10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 .task-priority {
     position: sticky;
     top: 0;
     display: flex;
     padding-left: 90px;
     padding-top: 15px;
     /* gap: 180px; */
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 .high {
     display: inline-block;
     position: absolute;
     left: 95px;
     height: 20px;
     width: 90px;
     background-color: rgb(230, 139, 139);
     color: rgb(136, 2, 2);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .medium {
     display: inline-block;
     position: absolute;
     left: 340px;
     height: 20px;
     width: 110px;
     background-color: rgb(240, 236, 165);
     color: rgb(93, 93, 1);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .low {
     display: inline-block;
     position: absolute;
     left: 605px;
     height: 20px;
     width: 110px;
     background-color: rgb(147, 238, 147);
     color: rgb(1, 77, 1);
     display: flex;
     justify-content: center;
     align-items: center;
 }